@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import "tailwindcss";

body {
  @apply bg-gray-950 text-white min-h-screen flex items-center justify-center p-4;
}
